<div class="container-fluid" style="padding-top: 50px;">
  <%= search_bar meta_search: { partial: "search",
                              performed: !@search.search_attributes.empty?,
                            render_opts: {test: "1221"} },
                 elastic_search: { index: @posts.first.class.model_name.underscore.pluralize }
                  %>
  <h1>Listing posts</h1>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.name %></td>
      <td><%= post.author %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  
  <%= link_to 'New Post', new_post_path %>
</div>
